.sidebar {
    width: 250px;
    height: 100%;
    top: 0;
    position: fixed;
    left: 0;
    padding-top: 10px;
}

.sidebar.nav-link{
    width: 250px;
    height: 100%;
}
.sidebar.nav-link:hover{
    
}