body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #0007cc;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #0077cc;
  padding: 10px 20px;
}
.navbar a {
  color: white !important;
  font-weight: bold;
}

.btn-primary {
  background-color: #1b6ec2;
  border-color: #1861ac;
  padding: 10px 15px;
  border-radius: 5px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.user-list {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
  text-align: center;
  padding: 15px;
  background: #0077cc;
  color: white;
  margin-top: 20px;
}

.btn-button{
  background-color: #1b6ec2;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;            
  transition: background 0.3s ease-in-out;                              
  border: none;                                                                                     
}
.btn-button:hover{
  background-color: #1b6ec2;
}
