@model List<Microsoft.AspNetCore.Identity.IdentityUser<Guid>>

@{
    ViewData["Title"] = "Gerenciamento de Usuários";
}

<div class="container mt-5">
    <h1 class="display-4 text-center">Gerenciamento de Usuários</h1>
    <p class="text-center">Veja a lista de usuários cadastrados no sistema.</p>

    @if (Model != null && Model.Any())
    {
        <table class="table table-striped mt-4">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome de Usuário</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var users in Model)
            {
                <tr>
                    <td>@users.Id</td>
                    <td>@users.UserName</td>
                    <td>@users.Email</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p class="text-center text-muted mt-4">Nenhum usuário encontrado.</p>
    }
</div>
