@model Microsoft.AspNetCore.Identity.IdentityUser<Guid>

@{
    ViewData["Title"] = "Editar Usuário";
    Layout = "_Layout";
}

<div class="container mt-5">
    <h2 class="text-center">Editar Usuário</h2>
    <form asp-controller="Manager" asp-action="Edit" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="text" name="UserName" value="@Model.UserName" required />
        <input type="email" name="Email" value="@Model.Email" required />
        <button type="submit">Salvar</button>
    </form>
</div>
